# List

In [12]:
a = [1,2,3,4,5,1,2,4,1]

# slicing
a[1:]
a[:5]
a[-3:]
b = a[:]
b

# slicing with strides
a[5:0:-2] # order has changed.
a[::2]

# underscore to the element to ignore when unpacking

_, y = [1,2]
y
_

1

# Tuples : %%immutable%%

In [14]:
a = 1,2

In [17]:
# immutable
a[1] = 2

TypeError: 'tuple' object does not support item assignment

In [23]:
#
my_tuple = (1,2)

try:
    my_tuple[0] = 0
    
except TypeError:
    print('tuple data type is not mutable.')

tuple data type is not mutable.

In [26]:
# PYTHONIC WAY TO SWAP VARIBALES' VALUES, WITH TUPLE
X = 1
Y = 2

X, Y = Y, X

X,Y

(2, 1)

# Dict

In [27]:
# KeyError : if the key does not exist in the dict.
grades = dict()
names = ['sucky', 'ds','katie']
gpa = [100,90,85]

for i in names:
    for j in gpa:
        grades[i] = j

In [29]:
grades['james']

KeyError: 'james'

In [30]:
'james' in grades # membership test is pretty fast.

False

In [38]:
# To not make an error, use .get method 
type(grades.get('kate',1)) # 2nd arg. is what you get if the key does not exist. 
#/ default in None (to be returned)
type(grades.get('kate'))

NoneType

### 1). dictionary : important methods
* .keys(), .values(), .items()

In [39]:
grades.keys()

dict_keys(['sucky', 'ds', 'katie'])

In [40]:
grades.values()

dict_values([85, 85, 85])

In [42]:
grades.items() # list of tuples that could help you unpack easily.

dict_items([('sucky', 85), ('ds', 85), ('katie', 85)])

In [46]:
# string, tuple is not mutable(hashable) < = > list
'abc'[1] = 'd'

TypeError: 'str' object does not support item assignment

In [47]:
(1,2)[1] = 3

TypeError: 'tuple' object does not support item assignment

In [48]:
{(1,1,0): 'hi'}

{(1, 1, 0): 'hi'}

In [49]:
{[1,1,0]: 'hi'}

TypeError: unhashable type: 'list'

# Defaultdict : 결과를 사전에 깔끔하게 정리해넣을 때 좋음, 에러도 안남, 디폴트로 돌려줄 값 정해져있음.

In [50]:
from collections import defaultdict

In [51]:
word_counts = defaultdict(int)

In [52]:
word_counts['a'] += 1

In [55]:
word_counts['a'] += 1

In [58]:
word_counts['b'] # KeyError not raised, dont need to do word_counts.get(word, 0)

0

In [63]:
dd_list = defaultdict(list) # returns empty list in default

In [60]:
dd_list[2].append(1)

In [61]:
dd_list

defaultdict(list, {2: [1]})

In [62]:
dd_list[1]

[]

In [64]:
dd_dict = defaultdict(dict)

dd_dict['sucky']['address'] = 'yeongdeungpo'

In [65]:
dd_dict

defaultdict(dict, {'sucky': {'address': 'yeongdeungpo'}})

In [66]:
dd_dict['katie']

{}

In [67]:
dd_pair = defaultdict(lambda: [0,0]) # whenever some key is made or some key is refered it returns the result of the function inside

dd_pair[2][1] = 1

In [69]:
dd_pair

defaultdict(<function __main__.<lambda>()>, {2: [0, 1]})

In [72]:
int()
#dict()
#list()

0

# Counters

In [73]:
from collections import Counter

In [94]:
# Counter converts a list into defaultdict(int)-ish dictionary
words = ['i', 'i','b','b' ,'really', 'do', 'not', 'know']
Counter(words)['b'] # similar to defaultdict(int)

2

In [95]:
# .most_common(n th) method
for word,count in Counter(words).most_common(3)[0:2]:
    print('{} appeared for {}times'.format(word,count))

i appeared for 2times
b appeared for 2times

# Set

no no for {}

do set() for start

In [96]:
s = set()

In [98]:
s.add(1)
s

{1}

In [100]:
s.add(1)
s

{1}

In [102]:
s.add(2)
s

{1, 2}

In [104]:
len(s)

2

In [106]:
1 in s
2 in s
3 in s

False

## 1). when to use 'set' than 'list' : because it doesn't have to search every element, when it's found it's there.

In [149]:
# I want to check whether there are '35'

lst = [1,2,3,4,1,2,3,1,23,1,2,2,3,1,2,3,1,2,4,1,232,1,2,3,1,2, 35]
print(len(lst))
%time 35 in lst

27
CPU times: user 7 µs, sys: 1e+03 ns, total: 8 µs
Wall time: 11.9 µs

True

In [164]:
lst = set(lst)
print(len(lst))
%time 35 in lst

7
CPU times: user 5 µs, sys: 1e+03 ns, total: 6 µs
Wall time: 11.9 µs

True

### +) when I will do iteration a lot of times by membership test for list, better make it set first

In [178]:
# importing the required module 
import timeit 
  
# code snippet to be executed only once 
mysetup = """
lst = [1,2,3,4,1,2,3,1,23,1,2,2,3,1,2,3,1,2,4,1,232,1,2,3,1,2, 35]
lst_set = set(lst)
"""
  
# code snippet whose execution time is to be measured 
mycode = ''' 
35 in lst
'''

mycode_2 = """
35 in lst_set
"""
  
# timeit statement 
time_1 = timeit.repeat(setup = mysetup, 
                    stmt = mycode,
                    repeat = 10,
                    number = 1000)

time_2 = timeit.repeat(setup = mysetup, 
                    stmt = mycode_2,
                    repeat = 10,
                    number = 1000)

import numpy as np

time_1 = np.array(time_1)

time_2 = np.array(time_2)

np.mean(time_1)/np.mean(time_2)

9.138157029361986

# Control Flow

In [184]:
x = 3
parity = 'odd' if x == 1 else ('even' if x == 2 else 'hi')
parity

# you could use control flow when you are assigning value to a variable in a conditional sense.

'hi'

In [196]:
# assert (boolean) calls error when it's false
assert x is not None # < = > assert x == None

pythonic => use 'is' or 'is not' for '==' and '!='

In [190]:
x is 3 # == < = > is != is not

True

In [191]:
x is not 3

False

# Truethy

In [211]:
s = '1'

first_char =  s and s[0]

In [215]:
first_char

'1'

In [220]:
x = 1
safe_x = x or 0

# =>
safe_x = x if x is not None else 0

In [221]:
safe_x

1

# +) all func : takes iterable
all : i am okay if there is not at all falsy
any : If there is at least one True, then I am good

In [222]:
all([True, 1, 'abc'])

True

In [223]:
all([None, 1])

False

any([None, 0, 'ab'])

In [225]:
any([None, 0])

False

In [226]:
all([]) # there is no  'false'y elem => True

True

In [227]:
any([]) # there is not even one true! elem => False

False

In [230]:
all(range(0,10))

False

In [231]:
range(0,10)

range(0, 10)

# Sorting

In [234]:
x = [1,2,3,4]

x.sort()

x

[1, 2, 3, 4]

In [236]:
x.sort(reverse = True)

In [238]:
x

[4, 3, 2, 1]

In [241]:
y = [3, -4, 2, -1]

In [244]:
y.sort(reverse = True, key=abs)

In [245]:
y

[-4, 3, 2, -1]

In [250]:
word_count = {'hi':3, 'hello':2, 'nope': 4}
wc = sorted(word_count.items(), key = lambda word_and_count: word_and_count[1], reverse=True)
wc

[('nope', 4), ('hi', 3), ('hello', 2)]

In [254]:
b = [('a', 5), ('b', 12), ('c', 12), ('d', 7)]

In [262]:
sorted(b, key = lambda element: abs(element[1]), reverse = True)

# key tells : please sort it in a fashion such that the result of the function applied to each element determines the
# order of the element in the output.

[('b', 12), ('c', 12), ('d', 7), ('a', 5)]

# List Compre

In [263]:
# dict, set => comprehension

In [265]:
type({x: x*x for x in lst})

dict

In [267]:
type({x*x for x in lst})

set

In [268]:
zeros = [0 for _ in lst]

In [269]:
zeros

[0, 0, 0, 0, 0, 0, 0]

In [270]:
increasing_pairs = [(x,y) for x in range(10) for y in range(x+1, 10)]

increasing_pairs

# Automated Testing and Assert

### 1. use assert to compare the function with the respected result 
### 2. use it when to raise error when input is empty

### assert => if it's not true raise 'AssertionError'

assert boolean_exp, error message

In [280]:
sum = 0
for i in range(0,10):
    sum += i
    
assert sum is not 45, "adjust range(start, end+1) the sum ain't what is expected"

AssertionError: adjust range(start, end+1) the sum ain't what is expected

In [284]:
def smallest_item(xs):
    assert xs, "It must not be an empty list."
    
    return min(xs)

In [285]:
smallest_item([])

AssertionError: It must not be an empty list.

# OOP

1. count
2. increment_the_count
3. read_count
4. reset
5. 9999가 되면 9으로

In [344]:
class CountingClicker:
    """function that counts reset reads the counter."""
    
    def __init__(self, count = 0):
        self.count = count
        
    def __repr__(self):
        return f"CountingClicker(count={self.count})"
    
    def click(self, num_times = 1):
        self.count += num_times
    
    def read(self):
        return self.count
    
    def reset(self):
        self.count = 0

In [311]:
clicker1 = CountingClicker()

clicker2 = CountingClicker(100)

clicker3 = CountingClicker(count = 1000)

In [316]:
clicker = CountingClicker()
assert clicker.read() == 0, "clicker should start at zero, reset the clikcer."
clicker.click()
clicker.click(2)

assert clicker.read() is 3, "after three clicks it should have count of 3."

clicker.reset()
assert clicker.read() is 0, "after reset, the clikcer should be back to 0."

# subclass

In [347]:
# gets all the properties and you could rewrite certain parts to redefine.

class NoResetClicker(CountingClicker):
    
    def __repr__(self):
        return f'NoResetClicker({self.count})'
    def reset(self):
        pass

In [349]:
clicker2 = NoResetClicker()
clicker2.name = 'NoResetClicker'

assert clicker2.read() is 0
clicker2.click()
assert clicker2.read() is 1
clicker2.reset()
assert clicker2.read() is 1, 'here reset should change any'

clicker2.__repr__()

'NoResetClicker(1)'

# 객체 : 상속 객체

In [377]:
class data_study_member:
    
    # initialize
    def __init__(self, sex, age, name, email, dept):
        
        self.sex = sex
        self.age = age
        self.name = name
        self.email = email
        self.dept = dept
        
    def intro_text(self):
        return f"""{self.name} is {self.sex}. {'He is' if self.sex == 'male' else 'She is'} {self.age} years old. {'He is' if self.sex == 'male' else 'She is'} one of our Data Study Group member.
        {self.name}'s email address is {''.join((self.name).split(' '))}.{self.dept}@korea.ac.kr."""

# If not using DB,
# You could use class for making the same intro plate on website

In [381]:
seokhee = data_study_member('male', 26, 'Seokhee Han', _, 'EnglishLit')
jiwon = data_study_member('female', 26, 'Jiwon Lee', _, 'Psychology')
print(jiwon.intro_text())

Jiwon Lee is female. She is 26 years old. She is one of our Data Study Group member.
        Jiwon Lee's email address is JiwonLee.Psychology@korea.ac.kr.

# Iterables and Generators (메모리 차원의 배려)

In [406]:
# generator don't create whole list if to use only for iteration.

In [407]:
def generate_range(n):
    i = 0
    while i < n:
        yield i
        i += 1

In [409]:
generate_range(10) # 조건 이터레이트 한번에 하나씩 값을 만든다, 조건에 어긋나지 않을 때까지.

In [421]:
def odd_num_generator(k=10):
    """it returns a generator that includes up to k th odd number."""
    i = 1
    while i <= k:
        
        yield 2*i-1
        
        i += 1

In [415]:
help(odd_num_generator)

Help on function odd_num_generator in module __main__:

odd_num_generator(k)
    it returns a generator that includes up to k th odd number.

In [417]:
odd_num_generator(100)

In [418]:
for i in odd_num_generator(100):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101
103
105
107
109
111
113
115
117
119
121
123
125
127
129
131
133
135
137
139
141
143
145
147
149
151
153
155
157
159
161
163
165
167
169
171
173
175
177
179
181
183
185
187
189
191
193
195
197
199

In [419]:
# Generator Comprehension

In [450]:
data = odd_num_generator(10)

odds = (x for x in data if x % 2 == 1)

odd_squares = (x**2 for x in odds)

odd_squares_ending_in_nine = (x for x in odd_squares if x % 10 is 9)

# nothing happens before I do real iteration with for or next.

In [451]:
for i in odd_squares_ending_in_nine:
    print(i)

9
49
169
289

In [452]:
# iteration also get its indices and valuse.
# => names
names = ['ace', 'hi', 'hawaii', 'kiki']

for index, name in enumerate(names):
    print(index, name)

0 ace
1 hi
2 hawaii
3 kiki

# Randomness

In [463]:
import random
random.seed(100)

four_uniform_randoms = \
[random.random() for _ in range(4)]

In [464]:
four_uniform_randoms

[0.1456692551041303,
 0.45492700451402135,
 0.7707838056590222,
 0.705513226934028]

In [468]:
for i in range(100):
    print(random.random())

0.8000204571334277
0.5329014146425713
0.08015370917850195
0.45594588118356716
0.047887516459941715
0.9329624000750505
0.9470780060029439
0.33535077594001006
0.3094059291400342
0.7680181487450805
0.20386952877685705
0.17846076295399127
0.18859491417448548
0.34700445361481724
0.6263216391927974
0.9633157837008631
0.21083399208685016
0.9561006461166511
0.555399665801069
0.9011520429873923
0.8180181933574304
0.16042180997493383
0.648542908120573
0.12409328058844371
0.00564508589179924
0.3955161806017494
0.773500702168781
0.566157707292886
0.19264065598707336
0.8411747144619733
0.9137768422492283
0.23722506292270407
0.44819248318227456
0.6377998063140823
0.9023430227313984
0.12661520856523822
0.5539516192440809
0.9685239944790129
0.6091002318791362
0.7173040778848189
0.7749555999671643
0.5071130373622724
0.2898552990686951
0.5903745691382535
0.5281792333857197
0.34326827930271964
0.8541716556500671
0.36299885808263155
0.48356388808590334
0.7615016181911767
0.8138184927502465
0.8904569543890624
0.6515067326609668
0.25253291606751593
0.8473725082277769
0.9092967860914605
0.7147436398076238
0.7669579080335924
0.5135789722286814
0.4934819258874641
0.5826845113501725
0.14718865646585277
0.6759756847124709
0.8613410616424554
0.16470458399195842
0.7538770308729308
0.7061820603607597
0.12100318609031835
0.050720324978788645
0.5953635341405692
0.21914663080812313
0.30985864642647365
0.6211733908687608
0.6508305207214754
0.7487490901889821
0.568213428238215
0.3337407295084719
0.01252727724286462
0.11402992513415988
0.1928283484433999
0.5252832108667903
0.7201063081299326
0.20914567294674224
0.3898450339202282
0.9364167906644235
0.40060947595683594
0.7132090415917072
0.6184843851752674
0.6597342762606756
0.47671096723338546
0.5450878369724225
0.7008343372138875
0.16112705356908175
0.7987538611432622
0.872876195275348
0.047100633349667076
0.19812197934121867
0.24879445997974925
0.0943398478556513
0.13997922995482137

In [471]:
random.seed(100)
random.random()

0.1456692551041303

In [472]:
# random.random()
random.seed(100)
random.random()

0.1456692551041303

In [478]:
# random.randragne(a,b) a<= <b integer

random.seed(121)

for _ in range(6):
    print(random.randrange(1,7))

1
2
5
4
6
2

In [491]:
#random.shuffle()

random.seed(61)
a = [1,2,3,1,2,3,1,2,3,1,2]
random.shuffle(a)

In [492]:
a

[2, 1, 2, 2, 3, 1, 1, 1, 3, 3, 2]

In [508]:
# random.choice
random.choice(a)

2

In [521]:
#random.sample(list, length) - with no duplicates
random.sample(a, 3)

[1, 2, 1]

# Regexp

In [522]:
import re

In [532]:
re_examples = \
[ not re.match('a','cat'),
 re.search('a','cat'),
 not re.search('c', 'dog'),
 3 == len(re.split('[ab]','carbs')),
 'R-D-' == re.sub('[0-9]', '-', 'R2D2')]

In [533]:
assert(all(re_examples))

# Zip Func

In [534]:
# same index - map into - a tuple in a new list

In [ ]:
#lists => a tuple list

In [574]:
letters = ['a','b','c']
nums = [1,2,3]

zipped = [(x,y) for x,y in zip(letters, nums)]

In [572]:
#a tuple list => lists(tuples)

In [576]:
letters, nums = zip(*zipped)

In [577]:
letters

('a', 'b', 'c')

In [578]:
nums

(1, 2, 3)

In [579]:
add(*(1,2)) # unpack sequential data and it becomes two input itself

3

In [583]:
def add(a,b):
    return b+a

add(*'ab')

'ba'

# args and kwargs

In [584]:
# arguments and kwargs

In [ ]:
def f1(x):
    return x + 1

g = dou

In [585]:
def doubler(f):
    
    def g(x):
        return 2*f(x)
    
    return g

#1.

def f1(x):
    return x+1

g = doubler(f1)

In [588]:
def f2(x,y):
    return x+y

In [589]:
g = doubler(f2)

In [592]:
def magic(*args, **kwargs):
    print('unnamed args:',args)
    print('keyword args:',kwargs)
    
magic(1,2, key='word', key2='word2')

unnamed args: (1, 2)
keyword args: {'key': 'word', 'key2': 'word2'}

In [597]:
def other_way_magic(x,y,z,a):
    return x+y+z+a

x_y_list = [1,2]
z_dict = {'z': 3, 'a':2}

other_way_magic(*x_y_list, **z_dict)

8

In [598]:
def doubler_correct(f):
    
    def g(*args, **kwargs):
        
        return 2 * f(*args, **kwargs)
    
    return g

In [599]:
g = doubler_correct(f2)

In [600]:
g(1,2)

6

In [602]:
!python --version

Python 3.7.1

In [603]:
def total(xs: list) -> float:
    return sum(total)

In [605]:
from typing import List

In [606]:
def total(xs: List[float]) -> float:
    return sum(total)